html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  padding: 1em;
}

img {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

hr {
  color: #e2e2e2;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  padding-top: .5rem;
  padding-bottom: 0;
}

h3 {
  text-align: left;
  font-size: 1.5rem;
  padding-top: 1.6rem;
  margin: 0;
}

h4 {
  text-align: left;
  font-size: 1rem;
  margin: 0;
}

nav a {
  color: #3783a3;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.introduction p {
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.viewing {
  padding-top: 1rem;
}

.gravel {
  padding-top: 1rem;
}

.symbolism {
  padding-top: 1rem;
}

main p {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

li {
  font-size: 1.125rem;
  padding: 0 1rem 1rem 0;
}

header {
  padding-bottom: 1em;
}

.introduction {
  max-width: 30em;
  text-align: center;
}

header h2 {
  font-size: 1.125rem;
  padding: 0;
}

.btn {
  color: #3783a3;
  display: block;
  text-decoration: none;
  border: .2rem solid #e2e2e2;
  border-radius: .3rem;
  padding: .5em;
}

main hr {
  margin-top: 2rem;
}

footer {
  text-align: center;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header {
    display: grid;
    grid-template-areas:
      "logo navigation"
      "banner banner";
  }

  ul {
    justify-content: flex-end;
    padding-top: 1.3rem;
  }

  li {
    font-size: 1rem;
  }

  h1 {
    text-align: left;
    padding-left: .4rem;
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  hr {
    max-width: 30em;
  }

  .introduction {
    margin: auto;
  }

  section p {
    font-size: .9rem;
  }

  h2 {
    font-weight: lighter;
    font-size: 1.9rem;
  }

  main p {
    font-size: .9rem;
  }

  header h2 {
    font-size: 1rem;
    font-weight: bold;
    padding-left: .4rem;
  }

  .banner {
    grid-area: banner;
    padding-top: 1rem;
  }

  .logo {
    text-align: left;
    grid-area: logo;
    justify-self: left;
  }

  nav {
    align-items: center;
    grid-area: navigation;
  }

  .gard {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer {
    margin: 0;
  }

  footer p {
    margin: 0;
  }

}
